<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

</head>
<body>
    <h2>뮤</h2>
    <div class="subjects">
    <div class="subject" id="theater">
        <ul>
            {% for theater in theater_list %}
                <li>{{theater}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="subject" id="titles">
        <ul>
            {% for title in title_list %}
                <li>
                    <div class="title">
                        <img class = "play" src="https://img.icons8.com/fluent-systems-regular/48/000000/sort-down.png"/>
                        <a  href="/review/{{title}}">{{title}}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    <p><a href="/write">새로운 극을 보고 오셨나요? 그렇다면 리뷰를 작성해주세요!</a></p>

</body>
</html>